.chat-container
{
	width: 400px;
	height:400px;
	overflow:auto;
	border:1px solid gray;
}

.chat-container div
{
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

input[name=chat-input]
{
	width:400px;
}